.header {
  height: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  top: 0;
  padding-top: 10px;
  padding-bottom: 10px;
  position: fixed;
  z-index: 1000;
  width: 100%;
  background: linear-gradient(
    to top,
    rgba(255, 255, 255, 0) 1%,
    rgba(20, 20, 20, 0.7) 90%
  );
  color: white;
  .left {
    margin-left: 50px;
    display: flex;
    .logo {
      max-width: 110px;
      cursor: pointer;
    }
  }
  .right {
    margin-right: 50px;
    display: flex;
    .search_active {
      display: flex;
      border: 1px solid rgba(255, 255, 255, 0.5);
      img {
        background-color: rgba(0, 0, 0, 0.7);
        padding-left: 3px;
      }
      input {
        width: 220px;
        color: grey;
        background-color: rgba(0, 0, 0, 0.7);
        border: none;
        &:focus {
          outline: none;
        }
      }
    }

    .search {
      width: 20px;
      cursor: pointer;
    }
    .avatar {
      cursor: pointer;
      margin-left: 30px;
    }
  }
}
