.container {
  position: relative;
}

.row {
  display: flex;
  overflow-x: scroll;
  overflow-y: hidden;
  width: 100%;
  overscroll-behavior: none;
  &::-webkit-scrollbar {
    display: none;
  }
}
.parent {
  .card {
    color: grey;
    transition: transform 0.2s;
    position: relative;

    &:hover {
      transform: scale(1.6);
      z-index: 4;
      position: relative;

      -webkit-box-shadow: 0px 6px 6px 0px rgba(213, 213, 213, 0.6);
      -moz-box-shadow: 0px 6px 6px 0px rgba(213, 213, 213, 0.6);
      -ms-box-shadow: 0px 6px 6px 0px rgba(213, 213, 213, 0.6);
      -o-box-shadow: 0px 6px 6px 0px rgba(213, 213, 213, 0.6);
      box-shadow: 0px 6px 6px 0px rgba(213, 213, 213, 0.6);
    }
  }
  .posters {
    max-width: 200px;
  }
  .features {
    background-color: black;
    padding-bottom: 10px;
    max-width: 200px;
    height: 200px;
    position: relative;
    z-index: 3;
    background-color: black;
  }
  .buttons {
  }
  .name {
  }
  .overview {
  }
}
