.container {
}

.row {
  display: flex;
  overflow-x: scroll;
  overflow-y: hidden;
  overscroll-behavior: none;
  z-index: 1;
  &::-webkit-scrollbar {
    display: none;
  }
}
.parent {
  .card {
    position: relative;
    color: grey;
    margin-right: 20px;
    &:hover {
      transform: scale(1.3);
      z-index: 9999;
      position: absolute;
    }
  }
  .posters {
    max-width: 200px;
  }
  .features {
    background-color: black;
    padding-bottom: 10px;
    max-width: 200px;
    height: 200px;
    position: absolute;
    z-index: 3;
    background-color: black;
  }
  .buttons {
  }
  .name {
  }
  .overview {
  }
}
