.container {
  position: relative;
  width: 100%;
}
.row_title {
  margin-left: 50px;
  color: white;
}
.row {
  display: flex;
  flex-direction: row;
  overflow-x: scroll;
  overflow-y: scroll;
  margin-left: 50px;
  overscroll-behavior: none;
  &::-webkit-scrollbar {
    display: none;
  }
}
.parent {
  .card {
    color: grey;
    transition: transform 0.2s;
    position: relative;
    margin-right: 30px;
    cursor: pointer;
    &:hover {
      transform: scale(1.3);
      z-index: 4;
      position: relative;

      -webkit-box-shadow: 0px 6px 6px 0px rgba(213, 213, 213, 0.6);
      -moz-box-shadow: 0px 6px 6px 0px rgba(213, 213, 213, 0.6);
      -ms-box-shadow: 0px 6px 6px 0px rgba(213, 213, 213, 0.6);
      -o-box-shadow: 0px 6px 6px 0px rgba(213, 213, 213, 0.6);
      box-shadow: 0px 6px 6px 0px rgba(213, 213, 213, 0.6);
    }
  }
  .posters {
    max-width: 200px;
    min-height: 300px;
  }
  .features {
    background-color: black;
    max-width: 200px;
    height: 200px;
    display: none;
    z-index: 3;
    background-color: black;
  }
  .buttons {
  }
  .name {
  }
  .overview {
  }
}
